/*Pagina Inicio*/
.custom-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.custom-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 .5rem rgba(0,0,0,.15) !important;
    border-color: #0d6efd;
}
