/*Pagina Inicio*/
.custom-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.custom-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 .5rem rgba(0,0,0,.15) !important;
    border-color: #0d6efd;
}
.msjRegistro {
    background-color: #e6f9e8;
    border: 1px solid #3cb371;
    color: #2d6a4f;
    padding: 12px 16px;
    margin-bottom: 15px;
    border-radius: 6px;
    font-size: 15px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    animation: fadeIn 0.4s ease-out;
}